@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Poor+Story&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 18px;}
body{font-family: 'Noto Sans KR', sans-serif;}
ul,ol,li{list-style-type: none;}

a{color: inherit; text-decoration: none;}
#wrap{width:100%;}
.inner{width: 1240px; margin: 0 auto;}

/**********header**********/
header{
    width: 100%;
    height: 100px;
    background-color: #ffffff ;
    padding-top: 30px;
    position: fixed;
    top: 0;
    z-index: 999;
}

header .inner{
    width: 1234px;
    margin: 0 auto;
}
header .inner .logo{
        float: left; 
}
header .inner .logo img{
    width: 270px;
}
header .inner .login{
    float: right;
}
header  .login li{
    float: left; 
    margin-left: 43px;
}
header  .login li img{
    width: 25px;
    position: relative;
    top: 14px;
}
header .login li:last-child{
    background-color: #F7CF4C;
    border-radius: 10px;
    padding: 10px 25px;
    position: relative;
    top: 1px;
    font-size: 1.1rem;
}
nav{
    height: 90px;
    background-color: #009567 ;
    padding-top: 32px;
    margin-top: 90px;

}
nav ul li{
        float: left;     
        margin-left: 83px;
        padding-top: 5.5px;
}
nav ul li a{
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    display: block;
}

/**********section01**********/
.section01{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 634px;     
}

/**********section02**********/
.section02 ul{
    height: 190px;
    border-radius: 100px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top:-90px;
    padding: 30px 30px 0 70px;

}
.section02 ul li{
    float: left;
    width: calc(100% / 3);
    height: 110px;
    padding-left: 140px;
}
.section02 ul li h3{
    font-size: 1.6rem;
    padding-bottom: 5px;
}
.section02 ul li p{
    color: darkgray;
    padding-bottom: 5px;
    font-size: 1.5rem;
}
.section02 ul li a{
    font-size: 1.5rem;
}
.section02 ul li a::after{
    content: url(../img/arrow01.png);
    margin-left: 20px;
}

.section02 li:first-child{
    background-image: url(../img/bag.png);
    background-repeat: no-repeat;

}
.section02 li:nth-child(2){
    background-image: url(../img/house.png);
    background-repeat: no-repeat;
}
.section02 li:nth-child(3){
    background-image: url(../img/book.png) ;
    background-repeat: no-repeat;
}


/**********section03**********/
.section03 .inner h2{
    margin-top: 95px;
    margin-bottom: 46px;
    color: #009567;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    background-color: #F7CF4C;
    text-align: center;
    padding-top: 9px;
}
.section03 .inner ul li{
    float: left;
    width: 288px;
    margin-right: 29px;
    border: 5px solid rgb(24, 24, 24);
    border-radius: 30px;
    padding: 19px;
    margin-bottom: 95px;
}
.section03 .inner ul li:last-child{
    margin-right: 0;
}
.section03 .inner ul li a img{
    width: 240px;
    height: 168px;
    border-radius: 20px;
    text-align: center;

}
.section03 .inner ul li p img{
    position: relative;
    top: 5px;
}
.section03 .inner ul li span{
    color: #009567;
}

/**********section04**********/
.section04{
    clear: both;
    height: 432px;
    background-color: #FFF4D9;

}

/********** 추가 시작************/
.section03 ul li:hover a img{
    transform: scale(1.1,1.1);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}


.section04 .inner{
    background-image: url(../img/friend.png);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: right bottom;
    height: 432px;

}
.section04 .inner h2{
    padding-top: 95px;
    color: #009567;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
.section04 .inner h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}
.section04 .inner p{
    background-color: #F7CF4C;
    text-align: center;
    width: 315px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    padding: 25px;
    padding-top: 32px;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);    
    position: relative;
}


/**********추가 시작**********/
.section04 .inner p a::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;

    opacity: 0;
}
.section04 p a span{
    position: absolute;
    top: 0; left: 0;
    color: #009567;
    font-weight: 500;
    font-size: 2rem;    
    text-align: center;
    width: 315px;
    opacity: 0;   
    top: 0px; left: 10px;
}
.section04 p a:hover a::before{
    opacity: 1;
    transition: 0.5s;
}
.section04 p a:hover span{
    opacity: 1;
    transition: 0.5s;
}




/**********section05**********/
.section05 .inner h2{
    margin-top: 95px;
    margin-bottom: 46px;
    color: #009567;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    background-color: #F7CF4C;
    text-align: center;
    padding-top: 9px;
}
.section05 .inner ul li{
    float: left;
    margin-right: 26px;   
    position: relative;
}
.section05 .inner ul li:last-child{
    margin-right: 0;
}
.section05 .inner ul li img{
    width: 290px;
    height: 80px;
    display: block;
    margin-bottom: 95px;
 
}


/********** 추가 시작************/
.section05 ul li span{
    background-color: #009567;
    color: #fff;
    padding: 10px 20px;
    width: 280px;
    height: 80px;
    border-radius: 50px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 17px;
    position: absolute;
    bottom: 80px; left: 5px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    opacity: 0;
}
.section05 ul li:hover span{
    transform: scale(115%,115%);
    box-shadow: 0 30px 40px rgba(0,0,0,0.2);
    transition: 1s;
    transform: translateY(-20%);
    opacity: 1;

}
.section05 ul li:hover img{
    transition: 1s;
    opacity: 0;
}

/**********footer**********/
footer{
    clear: both;
    background-color: #F6F6F6;
    color: #666666;
    clear: both;
    font-size: 0.9rem;
    font-weight: 400;
    padding-top: 50px;
    line-height: 1.6rem;
    height: 322px;

}
footer .top ul li{
    float: left;
    margin-right: 48px;    
    padding-bottom: 35px;
}
footer .top a img{
    width: 206px;
    float: right;
    position: relative;
    top: -20px;
}

footer .bottom{
    clear: both;
    border-top: solid 1px #666666; 
    padding-top: 35px;
}


/************** quick-menu ************/
.support{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #6e6e6ee8;
    color: #fff;
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 25px;
    box-shadow: 0 15px 20px rgba(59, 59, 59, 0.356);
}